.loading {
    margin-left: 15px;
}

#login-box {
    border: 1px solid #CCC;
}

#login-box .toolbar {
    background: #444;
}

.error {
    color: red;
}

.empty {
    padding: 40px 0px;
    font-size: 14px;
    text-align: center;
}

input.disabled {
    color: #fff !important;
}

.page-info {
    color: #000 !important;
    background: #fff !important;
    cursor: default;
}

.page-info:hover {
    background: #fff !important;
}

input[readonly].readonly {
    background: #fff !important;
    cursor: pointer !important;
}

.margin-radio {
    margin-right: 10px;
    margin-top: 5px;
}